.loginBox{
  position: fixed;
  width:100%;
  float:inline-start;
  min-height: 100%;
  perspective: 1000px;
}

.loginCard {
  width: 400px;
  min-height: 400px;
  margin:22vh auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip {
  transform: rotateY(180deg);
}

.login_container{
  /* display: flex;
  flex-direction:column;
  margin: auto;
  margin-top: 20vh;
  padding-bottom: 30px;
  background:  #2F4050;
  width: 500px;
  border-radius: 20px; */

  position: absolute;
  width: 100%;
  height: 90%;
  background: #2F4050;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction:column;
  margin: auto; 
}


.signup_container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2F4050;
  border-radius: 20px;
  transform: rotateY(180deg); /* Flip the signup container */
  backface-visibility: hidden;
  display: flex;
  flex-direction:column;
  margin: auto; 
}

.login_header, .signup_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 30px;
}

.login_text, .signup_text{
  color:  #fff;
  font-size: 28px;
  font-weight: 700;
}

.underline{
  width: 41px;
  height: 3px;
  background:  #3BBA9C;
  border-radius: 9px;
}

.login_inputs, .signup_inputs{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login_input, .signup_input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 40px;
  background:#fff;
  border-radius: 6px;
}

.login_icon, .signup_icon{
  color: #676767;
  margin: 0px 20px;
  height: 16px;
  width: 16px;
}


.login_input input, .signup_input input{
  height: 24px;
  width: 250px;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 14px;
}

.forgot_password{
  padding-left: 60px;
  color:white;
  font-size: 14px;
}

.forgot_password span{
  cursor: pointer;
}

.login_submit_conatiner{
  display: flex;
  margin: 10px auto 20px;
}

.signup_submit_conatiner{
  display: flex;
  margin: 20px auto;
}

.login_submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px ;
  height: 40px;
  color: #fff;
  background: #3BBA9C;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 0.3s ease;
}

.login_submit:hover{
  transform: scale(1.04);
  border: 0.5px solid white;
}

.login_submit:active{
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.gray{
  background: #EAEAEA;
  color: #676767;
}

.login_footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin-top: 0px;
  color: #fff;
  padding: 0px 0px 20px 0px;
}

.login_footer span{
  color:#58ccb1;
  margin-left: 6px;
  cursor: pointer;
}

.password-strength {
  display: flex;
  margin: 0px auto;
  width: 75%;
  height: 6px;
  background-color: #d8d8d8;
  border-radius: 3px;
}

.strength-bar {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.strength-0 {
  width: 0%;
  background-color: #e0e0e0;
}

.strength-1 {
  width: 20%;
  background-color: red;
}

.strength-2 {
  width: 40%;
  background-color: orange;
}

.strength-3 {
  width: 60%;
  background-color: yellow;
}

.strength-4 {
  width: 80%;
  background-color: lightgreen;
}

.strength-5 {
  width: 100%;
  background-color: green;
}

.strength-word{
    color: white;
    font-size: 14px;
    display: flex;
    width: 75%;
    margin: 5px auto 0px;
}

.signup_icon .react-tooltip {
  transform: rotateY(180deg);
}





