.category{
    position: relative;
    width: 100%;
    float: right;
    min-height: 100%;
}

.category-container {
    padding: 0px !important;
    min-height: 100%;
    margin-top: 12vh;
    overflow: hidden;
    width: 100%;
    max-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    gap: 50px;
}

.category-container button{
    padding: 20px;
    cursor: pointer;
}