/* .category{
    position: relative;
    width: 100%;
    float: right;
    min-height: 100%;
}

.category-container {
    padding: 0px !important;
    min-height: 100%;
    margin-top: 12vh;
    overflow: hidden;
    width: 100%;
    max-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    gap: 50px;
}

.category-container button{
    padding: 20px;
    cursor: pointer;
} */






/* Card.css */
.cards-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .cards {
    min-height: 100%;
    margin-top: 30vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .cards:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(0, 0, 0, 0.12) 0px 10px 20px;
 }
  
  .cards-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cards-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .cards button{
    background: transparent;
    font-size: 14px;
    color: black;
    border: solid 0.5px #49557e ;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.cards button:hover{
    background-color:#3BBA9C;
    color: white;
    border: solid 0.5px #3BBA9C ;
}

  .cards-abbr {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }

  .cards-score{
    padding-bottom: 10px;
    color: #3BBA9C;
  }
  
  .ohi-score {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.open-modal-button {
  background-color:#3BBA9C;
  font-size: 14px;
  color: white;
  border: solid 0.5px #3BBA9C ;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin: 20px auto;
  display: block;
  border-radius: 20px;
  transition: 0.5s all ease;
}

.open-modal-button:hover {
  transform: scale(1.08);
}
