/* Modal Overlay */
.fmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.574);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Container */
  .fmodal-container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Modal Header */
  .fmodal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .fmodal-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .fclose-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  /* Modal Body */
  .fmodal-body form {
    display: flex;
    flex-direction: column;
  }
  
  .fmodal-body label {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
  }
  
  .fmodal-body input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .fsubmit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .fsubmit-button:hover {
    background-color: #0056b3;
  }
  