.sidebar{
    height: 100%;
    width: 250px;
    background-color: #2F4050;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 11vh;
}

.sidebar-list{
    height: auto;
    width: 100%;
    list-style-type: none;
    margin-top: 30px;
}

.sidebar-list .row{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: rgb(207, 201, 201);
    justify-content: center;
    transition: background-color 0.5s, border-left 0.1s, color 0.3s;
}

.sidebar-list .row:hover{
    cursor: pointer;
    background-color: #293846;
    border-left: 3px solid #3BBA9C;
    color: white;
}

.sidebar-list #active{
    background-color: #293846;
    border-left: 3px solid #3BBA9C;
    color: white;
}

.title{
    padding-left: 20px;
    transition: transform 0.3s, margin-top 0.3s;
}

.icon{
    padding-left: 20px;
    color:  #3BBA9C;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s, margin-top 0.3s;
}

#actives{
    display: block;
}

.row.active .icon {
    opacity: 1;
    margin-top: 10px;
}
